/* Created by: Infinity de Guzman
 * Created on: Apr 2021
 * This CSS file defines the style for index2.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #fdf5c9;
}

h1 {
  background-color: #6b3e26;
  color: #ffc5d9;
  padding: 40px;
  text-align: center;
}

p {
  background-color:	#ffcb85;
  color: #6b3e26;
}

ul {
  background-color: #6b3e26;
  color: #c2f2d0;
}

tr {
  background-color: #6b3e26;
  color: #c2f2d0;
}

th {
  color: #ffc5d9;
}
