/* Created by: Infinity de Guzman
 * Created on: Apr 2021
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #7f573d;
}

h1 {
  background-color: rgb(179,92,117);
  color: rgb(184,170,105);
  padding: 40px;
  text-align: center;
}

p {
  background-color:	#678d44;
  color: #b8aa69;
}

img {
  max-width: 50%;
  max-height: 50%;
}